<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ebay Intern Task</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id=container>
        <!-- logo and title -->
        <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/4/48/EBay_logo.png" alt="">
        <h1 class="label" id="titleLabel">Delivery Price Check</h1>
        <div id="form">
            <!-- postcode textfields -->
            <br>
            <form id="postcodeFields">
                <input type="text" onkeyup="getPrice()" class="textField" id="pickupField" name="pickupField"
                    placeholder="enter a pickup postcode"><br>
                <input type="text" onkeyup="getPrice()" class="textField" id="deliveryField" name="deliveryField"
                    placeholder="enter a delivery postcode">
            </form>
            <!-- vehicle dropdown menu -->
            <br>
            <div id="dropdownContainer">
                <form id="vehicleDropdown">
                    <label class="label" for="vehicles">Delivery Vehicle:</label>
                    <select name="vehicles" id="vehicles">
                        <option value="bicycle">bicycle</option>
                        <option value="motorbike">motorbike</option>
                        <option value="parcel car">parcel car</option>
                        <option value="small van">small van</option>
                        <option value="large van">large van</option>
                    </select>
                    <br>
                </form>
            </div>

            <!-- submit button -->
            <br>
            <input id="checkButton" type="button" value="Check" />

        </div>
        <!-- result label -->
        <br>
        <div id="response">
            <h2 class="label" id="resultLabel"></h2>
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>