.label {
    font-family: Arial, sans-serif;
    color: #707070;
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2% 4%;
    margin: 0 10%;
}

#logo {
    margin: 0 auto;
    width: 200px;
    height: 100px;
}

#titleLabel {
    margin: 0 auto;
    color: #500750;
    font-size: 40px;
    background-color: #FAD8F0;
    padding: 12px;
    width: 70%;
}

#postcodeFields {
    display: flex;
    flex-direction: column;
}

.textField {
    padding: 8px;
    margin: 0px auto;
    width: 70%;
    font-size: 16px;
    border-style: solid;
}

#dropdownContainer {
    margin: 0px auto;
    width: 70%;
}

#vehicleDropdown {
    padding: 4px;
}

#checkButton {
    background-color: #3665f3;
    border: none;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#resultLabel {
    font-size: 20px;
    color: #07522C;
    background-color: #9df4a6;
    padding: 4px;
    margin: 0px auto;
    width: 70%;
}